*{
	margin: 0;
	padding: 0;
}
/*estilos generales*/
body{
  padding: 10px;
	background-color: black;
   color: white;
}
  
.contenido{
	margin:0 auto;
	font-family: "dancing script";
	max-width: 900px;
	width: 100%;
	
	
}
/*estilos asignados a la cabecera*/
#banner{
    margin: 0 auto;
    padding:2%;
    height: 5%;
	background-color: #567989;
	border-radius: 10px 10px 0 0;
}
 
 #banner h1{
 	display: inline;
 	font-size: 2em;
 	font-weight: normal;
 	margin-left: 1%;
 	text-shadow: 2px 2px 2px #02010a;
 }
#banner nav{
	display: inline;
	float: right;
	height: 100%;
}
#banner ul{
	display: flex;
	flex-flow: row;
	list-style-type: none;

}
#banner ul li{
	margin:1px auto;
	padding: 10px;
}
   #banner nav .active{
   	text-decoration: none;
   }
    
    #banner nav a{
    	color:white;
    	font-size: 1.143em;

    }

    /*primera seccion*/
    .contenedor{
    	width: 100%;
    	background-color: #82c3a6;
    }

    .imagen1{
      box-shadow: 2px 2px 2px #02010a;
    }

    .estilos_personales{
      width: 90%; 
      height: 300px;
      margin:5%;

    }

    /*seccion de la pag pajaritos*/

     #filtros_columna1{
     	text-align: center;
     }


    .filtro_1, .filtro_2, .filtro_3{
    	display: inline-block;
    	width: 30%;
    	margin: 2% 1%;
    	box-shadow: 2px 2px 2px #02010a;
    }

    .filtro_1{
    	filter: blur(10px);
    }

    .filtro_2, .filtro_4, .filtro_6{
    	filter: grayscale(100%);
    
    }

     .filtro_3{
     	filter: sepia(90%);

     }


     #filtros_columna2{
     	text-align: center;
     }
    .filtro_4, .filtro_5, .filtro_6{
    	display: inline-block;
    	width: 30%;
    	margin: 2% 1%;
    	box-shadow: 2px 2px 2px #02010a;
    }


    

    /*diseño de la seccion 2*/

#contenedor2{
	display: flex;
	flex-flow: row;
	background: #d5c75f;
}

#contenedor2 div{
 width:50%;
}

#contenedor2 div img{
width: 90%;
margin: 5%;
border:1px solid black;

}
#contenedor2 div figure figcaption{
 position: absolute;
 margin-left: 15%;
 margin-top: -25px;
 font-weight: bold;
 font-size: 1.2em;
}

#contenedor2 div figure figcaption a:link, #contenedor2 div figure figcaption a:hover,
 #contenedor2 div figure figcaption a:visited{
 	color: black;
 }
  /*efecto de transformacion a la imagen de la izquierda y derecha de la pagina inicio*/
.paisajes{
	transition-property: transform;
transition-duration: 1s;

}

.retratos{
  transition-property: transform;
  transition-duration: 1s;
}


.paisajes:hover{
	transform: rotate(10deg);
	border: 2px solid black;
	box-shadow: 1px 1px 10px #82c3a6; 
}

.retratos:hover{
	transform: translate(20px, -5px);
}


/*footer*/
 footer{
 	clear: both;
 	display: flex;
 	flex-flow: row;
 	background-color: #C6d5c5;
 	border-radius: 0px 0px 10px 10px;
 	color: black;
 }

 footer div{
padding-left: 2%;
width: 25%;
margin-top: 20px;
margin-bottom: 30px;


 }
  
  footer div h1{
  	margin-bottom: 10px;
  }

 footer div p{
 	font-weight: bold;

 }

 





    
/*aplicacion de la media query*/
    

@media screen and (max-width: 899px) {
	#contenido{
		margin:0px auto;
		width: 100%;
	}

#banner h1{
	display: block;
	text-align: center;
}
#banner nav{
	display: block;
	float: none;
	width: 100%;
	margin: 0% auto;
	 
}

#banner nav ul{
	width: 100%;
	display: block;
	margin: 0 auto;
    text-align: center;

}


#banner nav ul li{
	display:inline-block;

}

#contenedor2{
	display: block;


}

#contenedor2 div{
	width: 100%;
}
#contenedor2 div figure{
	width: 100%;
}

#contenedor2 div figure figcaption{
	margin-left: 40%;

}
footer{
	display: block;
	margin-top: -20px;
	font-size: 1.3em;
	padding-bottom: 40px;

}

footer div{
	width: 100%;
 margin-left: 40px;
 padding-top: 20px;

}

.filtro_1, .filtro_2, .filtro_3, .filtro_4, .filtro_5, .filtro_6{
	width: 70%;
	margin: 3%;

}
}

